body {
    color: #333333;
    font-size: 13px;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: #555555;
    text-shadow: none;
    font-weight: 400;
}

h4 {
    font-size: 18px;
}

.block {
    padding: 20px;
}

.block-blue {
    background: #3498db;
}

.block .heading {
    font-size: 16px;
    text-transform: uppercase;
}

.block .heading,
.caption-sm small {
    color: #FFFFFF;
    opacity: .8;
    line-height: 1;
}

.icon-globe {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 20px 20px 0;
}

.caption-sm small {
    font-size: 16px;
    text-transform: uppercase;
}

.block .caption-sm h4 {
    font-size: 16px;
    line-height: .8;
    color: white;
}

.block .statistics .heading-xs {
    color: #ffffff;
    opacity: .8;
}

h3.heading-xs {
    font-size: 14px;
    margin-bottom: 0;
}

.pull-right {
    float: right;
}

.block-chart {
    border-left: 2px #3498db solid;
    border-right: 2px #3498db solid;
    margin-bottom: 0px;
    background-color: #FFFFFF;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
